<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.compto_bouffe" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FicheProfil"
            android:label="@string/title_activity_profile"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="Menu principal"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".FicheC"
            android:label="Menu quotidien"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ModifierMaListe"
            android:label="Modifier ma liste"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".RecherchePlats"
            android:label="Recherche de plats" >
        </activity>
        <activity
            android:name=".Recapitulatif"
            android:label="Récapitulatif"/>
    </application>

</manifest>
